body{
    /* background-image: url(../img/pattern.jpg); */
    background-color: pink;
    margin: 0%;
}

header{
    background-color: white;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}

ul{
    list-style: none;
}

li{
    margin: 5px;
    display: inline;
}

a{
    text-decoration: none;
}

section{
    background-color: white;
    margin: 10% 10% 10%;
    padding: 2% 7% 2%;
}

article{
    border-bottom:2px solid grey;
    margin: 2%;
}

h1{
    text-align: center;
}

h5{
    color: ivory;
    text-align: center;
}

footer{
    background-color: black;
    padding: 1%;
}